@tailwind base;
@tailwind components;
@tailwind utilities;

a.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #875FE7;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

a.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link-selected {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #875FE7;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.magnifyBorder {
  box-shadow: inset 0 0 0 2px #875FE7;
  transition: 300ms box-shadow cubic-bezier(0.4, 0, 0.6, 1), 300ms background-color cubic-bezier(0.4, 0, 0.6, 1), 300ms color cubic-bezier(0.4, 0, 0.6, 1);;
}

.magnifyBorder:hover {
  box-shadow: inset 0 0 0 4px #875FE7;
  color: #875FE7;
}

img {
  pointer-events: none;
}

